body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}


/* TYPOGRAPHY */

h2 {
    font-size: 1.313em;
    letter-spacing: .05em;
    font-family: 'Times New Roman', serif;
}

a,
a:link,
a:focus {
    color: black;
}

a:hover {
    color: #ff0000;
    text-decoration: underline;
}


/* LAYOUT */

.row {
    max-width: 68rem;
}

#column-no-pad {
    padding: 0em !important;
}

.top-bar {
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 10;
    padding-top: 4em;
    transition: padding .25s ease;
    .top-bar-left,
    .top-bar-right {
        font-family: 'Times New Roman', sans-serif;
        font-size: 1.313em;
        letter-spacing: .05em;
    }
    .top-bar-right {
        //float: right;
        text-align: right;
    }
    @media print,
    screen and (max-width: 40em) {
        .top-bar-right {
            float: left !important;
            text-align: left !important;
        }
    }
    &.shrink {
        padding-top: 2em;
        padding-bottom: 1em;
    }
}

.active {
    text-decoration: underline !important;
    color: #ff0000 !important;
}

#aboutspace {
    padding: 7em 0 6em 0;
    text-align: center;
    img {
        margin-bottom: 1.5em;
    }
}

#work-nav {
    .column-block {
        //padding: 0em;
        //margin-bottom: 0em;
    }
    .overlay-container {
        position: relative;
        .overlay {
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            opacity: 1;
            transition: opacity .25s ease-in-out;
        }
        .overlay:hover {
            opacity: 0;
        }
    }
}

#contactspace {
    text-align: right;
    padding: 4em 0 4em 0;
    img {
        margin-bottom: 1.5em;
    }
}
