/*TYPOGRAPHY*/

h1 {
    font-size: 1.5em;
    font-family: 'Times New Roman', serif;
    letter-spacing: .05em;
    //font-weight: 600;
}

h3 {
    font-size: 1.125em;
    font-family: 'Times New Roman', serif;
    letter-spacing: .05em;
    font-style: italic;
    margin-top: -.1em;
}

p {
    font-family: 'Times New Roman', serif;
    font-size: 1.2em;
    letter-spacing: .03em;
}


/*LAYOUT*/

.top-bar {
    .current {
        color: #ff0000;
        text-decoration: underline;
    }
}

h2.linkto {
    margin: 1em 0 1em 0;
    a {
        padding: .3em 2em .5em 2em;
        border: .1em solid black;
    }
    a:hover {
        background-color: #ff0000;
    }
    img {
        padding: 0em !important;
    }
}

#project {
    #header-img {
        margin-top: 2em;
        margin-bottom: 3em;
    }
    #blurb {
        .columns {
            padding: 0em !important;
        }
    }
    hr {
        border: solid black .5px;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #project-details {
        img {
            padding: .7em;
            text-align: center;
        }
        #centered {
            text-align: center !important;
        }
        #row-spacing {
            margin-bottom: 3em;
        }
    }
}
