/*TYPOGRAPHY*/

h1 {
    font-size: 1.5em;
    font-family: 'Times New Roman', serif;
    letter-spacing: .03em;
}

#subheader {
    //text-decoration: underline;
}

#block-text {
    letter-spacing: .03em;
    margin-top: 1.5em;
}

h3 {
    font-size: 1.313em;
    font-family: 'Times New Roman', serif;
    letter-spacing: .05em;
    font-style: italic;
    margin-top: -.3em;
}


/*LAYOUT*/

.top-bar {
    /*#gray {
        color: lightgray;
    }*/
}


/*.top-bar {
    @media print,
    screen and (min-width: 64em) {
        .large-4 {
            width: 35%;
        }
    }
    .current {
        color: #ff0000;
        text-decoration: underline;
    }
}*/

h2.linkto {
    margin: 1em 0 1em 0;
    a {
        padding: .3em 2em .5em 2em;
        border: .1em solid black;
    }
    a:hover {
        background-color: #ff0000;
    }
    img {
        padding: 0em !important;
    }
}

#project {
    #header-img {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #blurb {
        margin-bottom: 3em;
        .columns {
            padding: 0em !important;
        }
        /*@media print,
        screen and (min-width: 64em) {
            .large-7 {
                width: 63%;
            }
        }*/
    }
    #project-details {
        #final-container {
            background: #f2f2f2;
            padding-top: 4em;
            padding-bottom: 3em;
        }
        #process-container {
            padding-top: 4em;
        }
        img {
            padding: 1em;
        }
        #centered {
            text-align: center !important;
        }
        #spacing {
            margin-bottom: 3em;
        }
        .column-block {
            padding: 0 !important;
        }
    }
}
